<footer>
            <div class="footer-left"><ul>
            <li>Aviso legal</li>
            <li>Politica de cookies</li>
            <li>Politica de calidad</li>
            <li>Politica de privacidad</li>
        </ul>
    </div>
    <div class="footer-center">
        <h1>
            Café
            <div id="teria">
            Teria
            <hr>
            </div>
        </h1>
        
        <p>© 2025 CaféTeria. Todos los derechos reservados.</p>
        </div>

        <div class="footer-right">
            <ul>
                <li>CaféTeria</li>
                <li>Blog</li>
                <li>Contacto</li>
                <li>FAQs</li>
            </ul>
        </div>
</footer>

