footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(39, 39, 39);
    color: white;
}
h1 {
    padding: 1rem;
    font-family: "Kaushan Script", cursive;
}

li {
    list-style: none;
    margin: 0 1rem;
    font-family: "Karantina", sans-serif;
    font-size: 1.3rem;
}

.footer-center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer-right{
    padding-right: 1rem;
}