.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-image: url("../../../assets/images/register-background.jpg"); /* Si querés otra imagen para login, cambiala */
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}

.login-container .form-container {
  border-radius: 10px;
  padding: 2rem;
  width: 90%;
  max-width: 450px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  background-color: #eeeeee;
}

.login-container h1 {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 2.5rem;
}

.login-container label {
  display: block;
  letter-spacing: 1.5px;
  font-size: 1.5rem;
  font-family: "Karantina", sans-serif;
  color: #525252;
}

.login-container .form-group {
  margin-bottom: 1rem;
}

.login-container .form-group input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #59190296;
  background-color: #eeeeee;
  color: black;
}

.login-container .form-group input:focus {
  outline: none;
  border-bottom: 2px solid #220a01;
}

.login-container button {
  width: 100%;
  padding: 0.5rem;
  color: rgb(27, 27, 27);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-family: "Karantina", sans-serif;
  letter-spacing: 1.5px;
}

.login-container button:disabled {
  background-color: #59190260;
  cursor: not-allowed;
  color: rgb(119, 119, 119);
}

.login-container .text-danger {
  color: rgba(255, 0, 0, 0.507);
  font-size: 1.2rem;
  font-family: "Karantina", sans-serif;
  text-align: center;
}

.login-container p {
  text-align: center;
  font-size: 1.2rem;
  font-family: "Karantina", sans-serif;
  letter-spacing: 1.2px;
}


.login-link-container{
  display: flex;
  text-align: center;
  justify-content: center;
}

.login-link{
  text-decoration: underline;
  color: #525252;
  font-size: 1.2rem;
  font-family: "Karantina", sans-serif;
  letter-spacing: 1.2px;
  cursor: pointer;
}

.login-link:hover{
  color: #46220d;
}
