<p-toast />
<app-header [transparente]="true"></app-header>
<br>
<div class="hero">
    <img id="imagen_hero" src="/assets/images/imagen-hero.jpg" alt="cafeteria">
    <div id="texto-hero">
        <h2>Desde 1998</h2>
        <p>brindándote el</p>
        <p>café de cada mañana.</p>
        <button (click)="irHacia('/productos')">Encontrá lo que buscás</button>
    </div>
</div>

<section id="quienes_somos">
    <div class="quienes_somos-container">
        <h2>Tomate un café y <span class="resaltado">registrate</span></h2>
        <br>
        <video src="/assets/images/cafeCaliente.mp4" autoplay loop></video>
        
        <br>
        <button (click)="irHacia('/signup')"> Registrarse</button>
    </div>
        <div class="quienes_somos-container">
            
        <h2> O, si ya sos parte, <span class="resaltado">iniciá tu sesión</span></h2>
        <br>
        <video src="/assets/images/inicio_sesion_2.mp4" autoplay loop></video>
        <br>
        <button (click)="irHacia('/login')"> Unirse</button>
    </div>
</section>
<br>
<app-footer></app-footer>
<router-outlet></router-outlet>